<div style="height: 100px; overflow-y: scroll; margin-bottom: 10px;">
    <p id="actionButtonsContainer" style="display: none; margin-top: 0px;">
        <button id="forgetActionButton" onclick="forgetSelectedAction();">Forget</button>
        <button id="learnActionButton" onclick="learnSelectedAction();" style="cursor: pointer;">Learn</button>
        <button id="performActionButton" onclick="performSelectedAction();">Perform</button>
        <button id="bindActionButton" onclick="bindSelectedAction();">Bind Key</button>
        <span id="actionLearnCost"></span>
    </p>
    <p id="actionDescription" style="margin-top: 0px;"></p>
</div>
<div id="actionsContainer" style="height: 200px; overflow-y: scroll;">
</div>
