<p>
    Controls:
</p>
<ul>
    <li><strong>WASD or arrow keys</strong> = Move player</li>
    <li><strong>WASD or arrow keys + shift</strong> = Place or remove tile</li>
    <li><strong>0-9 keys</strong> = Perform battle action (after binding)</li>
</ul>
<p>
    Explanation of stats:
</p>
<ul>
    <li><strong>Level</strong> determines maximum health and base attack strength.</li>
    <li><strong>Experience points (XP)</strong> are required to level up and learn actions.</li>
    <li><strong>Health points (HP)</strong> are required to survive.</li>
    <li><strong>Energy points (EP)</strong> are required to perform actions.</li>
    <li><strong>Damage points (DP)</strong> determine the scaling factor for attack strength.</li>
    <li><strong>Gold</strong> is rewarded upon winning battles.</li>
    <li><strong>Score</strong> is the cumulative amount of XP collected.</li>
</ul>
