<p>
    <div style="float: left; width: 150px;">
        Level: <span id="localPlayerLevel"></span><br />
        XP: <span id="localPlayerExperience"></span><br />
        HP: <span id="localPlayerHealth"></span> / <span id="localPlayerMaximumHealth"></span><br />
    </div>
    <div style="float: left;">
        Gold: <span id="localPlayerGold"></span><br />
        Score: <span id="localPlayerScore"></span><br />
        Position: (<span id="localPlayerPosX"></span>, <span id="localPlayerPosY"></span>)
    </div>
    <br style="clear: both;" />
    <p>
        <button id="levelUpButton" onclick="levelUp();">Level Up</button> Cost: <span id="levelUpCost"></span> XP
    </p>
</p>
